@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: $spacing-3xl $spacing-xl;
  color: $text-light;
}

.icon {
  font-size: 48px;
  margin-bottom: $spacing-md;
  opacity: 0.5;
}

.title {
  font-size: $font-size-lg;
  font-weight: $font-bold;
  color: $text-color;
  margin: 0 0 $spacing-sm 0;
}

.message {
  font-size: $font-size-base;
  color: $text-light;
  margin: 0 0 $spacing-lg 0;
  max-width: 400px;
}

.action {
  margin-top: $spacing-md;
}

