@use '../styles/variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $text-color;
  background: $bg-light;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color $transition-base;

  &:hover {
    color: darken($primary-color, 10%);
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: $spacing-md;
}

h1 {
  font-size: $font-size-4xl;
}

h2 {
  font-size: $font-size-3xl;
}

h3 {
  font-size: $font-size-2xl;
}

h4 {
  font-size: $font-size-xl;
}

p {
  margin-bottom: $spacing-md;
}

