@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.searchInput {
  display: flex;
  gap: $spacing-md;
  align-items: flex-end;
  
  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
    align-items: stretch;
  }
}

.input {
  flex: 1;
}

