@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.fullWidth {
  width: 100%;
}

.label {
  font-size: $font-size-sm;
  font-weight: 500;
  color: $text-color;
  cursor: pointer;
}

.required {
  color: $error-color;
  margin-left: 2px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  height: 44px;
  padding: 10px 14px;
  font-family: $font-family;
  font-size: $font-size-base;
  color: $text-color;
  background: $bg-color;
  border: 1px solid $border-color;
  border-radius: $radius-lg;
  transition: all $transition-base;
  box-sizing: border-box;

  &::placeholder {
    color: $text-light;
  }

  &:hover:not(:disabled) {
    border-color: darken($border-color, 10%);
  }

  &:focus {
    outline: none;
    border-color: $primary-color;
    box-shadow: 0 0 0 3px rgba($primary-color, 0.1);
  }

  &:disabled {
    background: $bg-light;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.error {
    border-color: $error-color;
    
    &:focus {
      box-shadow: 0 0 0 3px rgba($error-color, 0.1);
    }
  }

  &.withIcon {
    &.iconLeft {
      padding-left: 42px;
    }

    &.iconRight {
      padding-right: 42px;
    }
  }
}

.iconContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  color: $text-light;
  pointer-events: none;

  .inputWrapper:has(.iconLeft) & {
    left: 0;
  }

  .inputWrapper:has(.iconRight) & {
    right: 0;
  }
}

.helperText {
  font-size: $font-size-xs;
  color: $text-light;
}

.errorText {
  font-size: $font-size-xs;
  color: $error-color;
}

