@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.resultsList {
  display: grid;
  width: 100%;
  
  &.columns1 {
    grid-template-columns: 1fr;
  }
  
  &.columns2 {
    grid-template-columns: repeat(2, 1fr);
    
    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
    }
  }
  
  &.columns3 {
    grid-template-columns: repeat(3, 1fr);
    
    @media (max-width: $breakpoint-lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
    }
  }
  
  &.columns4 {
    grid-template-columns: repeat(4, 1fr);
    
    @media (max-width: $breakpoint-xl) {
      grid-template-columns: repeat(3, 1fr);
    }
    
    @media (max-width: $breakpoint-lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
    }
  }
  
  &.gapSm {
    gap: $spacing-sm;
  }
  
  &.gapMd {
    gap: $spacing-md;
  }
  
  &.gapLg {
    gap: $spacing-lg;
  }
}

.item {
  width: 100%;
}

