@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.section {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  padding: $spacing-lg 0;
  
  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.sectionTitle {
  font-size: $font-size-lg;
  font-weight: $font-bold;
  color: $text-color;
  margin: 0;
}

