@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.galleryLayout {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 60px); // Header height
  background: #f5f7fa; // Тот же фон, что и на странице персоны
  overflow: hidden;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
  }
}

